<h1 class="jumbotron text-center">Wacky Widgets</h1>

<% if Widget.all.count == 0 %>
    <h3 class="text-center">No Widgets Exist</h3>
<% else %>
    <table>
        <tr>
            <th>Description</th>
            <th>Quantity</th>
            <th>Remove</th>
        </tr>
        <% @widgets.each do |nwidget| %>
            <tr>
                <td><%=  nwidget.description %></td>
                <td><%=  nwidget.quantity %></td>
                <td><%=  link_to "X", widget_path(nwidget), method: :delete, class: "btn btn-xs btn-danger" %></td>
            </tr>
        <% end %>
    </table>
<% end %>

<hr>

<h4>Add a New Widget:</h4>
<div class="form-group">
    <%= form_for Widget.new do |f| %>
        <div class="field">
            <%= f.label :description %>
            <%= f.text_field :description, class: "form-control" %>
        </div>
        <div class="field">
            <%= f.label :quantity %>
            <%= f.text_field :quantity, class: "form-control" %>
        </div>
        <div class="field">
            <%= f.submit "Add Widget", class: "btn btn-success" %>
        </div>
    <% end %>
</div>